


<% @posts.each do |post| %>
  <div class="col-6 mx-auto border border-dark rounded mt-3 p-3">
      <h4><%= post.title %></h4>

      <% if user_signed_in? %>
        <p>Written by: <%= post.user.username %></p>
      <% else %>
        <p>Written by: anonymous</p>
      <% end %>

      <p>Posted <%= distance_of_time_in_words(Time.now, post.created_at) %> ago </p>

      <p><%= post.body %></p>

      <div class="d-flex">
        <%= link_to 'Show', post, class: "mr-2" %>
        <% if post.user.username == (current_user && current_user.username) %>
            <%= link_to 'Edit', edit_post_path(post), class:"mr-2" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } ,class:"mr-2" %>
        <% end %>
      </div>

      <br/>

      <h5>Comments</h5>
      <% if post.comments.length() > 0 %>
          <% post.comments.each do |comment| %>
             <div>
                <p><%= comment.body %></p>
                <div>Written By: <%= comment.username %>
             </div>
          <% end %>
      <% end %>

  </div>
<% end %>

<%= link_to 'New Post', new_post_path %>
